.pic{
   top: 30px;
    
    border-radius: 4px;
    opacity: 1;
}
.line{

    margin-top: 20px;
    left: 0px;
    width: 183px;
    height: 10px;
    color: var(--unnamed-color-2a2a2a);
    text-align: left;
    font: normal normal 600 20px/40px Proxima Nova;
    letter-spacing: 0px;
    color: #2A2A2A;
}

.lines{
    
left: 0px;
width: 183px;
height: 10px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 36px/40px var(--unnamed-font-family-proxima-nova);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-2a2a2a);
text-align: left;
font: normal normal 600 26px/40px Proxima Nova;
letter-spacing: 0px;
color: #2A2A2A;
}
/* card one */
.test{

width: 180px;
height: 180px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
/* box-shadow: -3px -1px 13px #0000000F; */
border: 2px solid #197DFC;
border-radius: 4px;
opacity: 1;
font-size: 12px;
}

.imag{
    padding-top: 10px;
padding-left: 20px;
width: 56px;
height: 56px;
/* background: transparent url('img/Group 8441.png') 0% 0% no-repeat padding-box; */
opacity: 1;
}

.testtwo{
 
width: 180px;
height: 180px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
/* box-shadow: -3px -1px 13px #0000000F; */
border: 2px solid #1999FC;
border-radius: 4px;
opacity: 1;
font-size: 12px;
}

.testthree{
  
    width: 180px;
    height: 180px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: -3px -1px 13px #0000000F; */
    border: 2px solid #FD6738;
    border-radius: 4px;
    opacity: 1;
    font-size: 12px;
}

.testfour{
  
    width: 180px;
    height: 180px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: -3px -1px 13px #0000000F; */
    border: 2px solid #297F87;
    border-radius: 4px;
    opacity: 1;
    font-size: 12px   
}

.testfive{
    
    width: 180px;
    height: 180px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: -3px -1px 13px #0000000F; */
    border: 2px solid #FF6B6B;
    border-radius: 4px;
    opacity: 1;
    font-size: 12px;
}
.testsix{
   
    width: 180px;
    height: 180px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: -3px -1px 13px #0000000F; */
    border: 2px solid #7C83FD;
    border-radius: 4px;
    opacity: 1;
    font-size: 12px;
}