 <div class="container-fluid mx-5">
  <div class="row">
    <div class="col-lg-4 pic col-sm-12">
      <img src="../assets/download.jpg" alt="logo" loading="lazy" width="100%" height="100%">
    </div>

    <div class="col-lg-8 col-sm-12 ">
      <p class="line">Let's find you the </p>
      <p class="lines">best product</p>

      <div class="row ">

        <div class="card test m-3 mt-5">
          <div class="imag">
            <img src="../assets/saving.jpg" alt="" width="50px" height="45px">
          </div>
          <div class="card-body">
            <h6 class="card-title">Savings Account</h6>
            <p class="card-text">Zwei flinke Boxer jagen die quirlige Eva und...</p>

          </div>
        </div>



        <div class="card testtwo m-3 mt-5">
          <div class="imag">
            <img src="../assets/health.jpg" alt="" width="50px" height="45px"></div>
          <div class="card-body">
            <h6 class="card-title">Health Insurance</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>

          </div>
        </div>




        <div class="card testthree m-3 mt-5">
          <div class="imag">
            <img src="../assets/msme.jpg" alt="" width="50px" height="45px"></div>
          <div class="card-body">
            <h6 class="card-title">MSME Loan</h6>
            <p class="card-text">Zwei flinke Boxer jagen die quirlige Eva und...</p>

          </div>
        </div>

      </div>


      <div class="row">


        <div class="card testfour m-3">
          <div class="imag">
            <img src="../assets/agri.jpg" alt="" width="50px" height="45px"></div>
          <div class="card-body">
            <h6 class="card-title">Agri Crop Loan</h6>
            <p class="card-text">Zwei flinke Boxer jagen die quirlige Eva und...</p>

          </div>
        </div>

        <div class="card testfive m-3">
          <div class="imag">
            <img src="../assets/home.png" alt="" width="50px" height="45px"></div>
          <div class="card-body">
            <h6 class="card-title">Home Loan</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>

          </div>
        </div>

        <div class="card testsix m-3">
          <div class="imag">
            <img src="../assets/retail.jpg" alt="" width="50px" height="45px"></div>
          <div class="card-body">
            <h6 class="card-title">Retail Loan</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>

          </div>
        </div>
      </div>

    </div>
  </div>
</div> 

 <!-- <div class="container mx-5">
  <div class="row">
      <div class="col-6 pic  ">
          <img src="../assets/download.jpg"  alt="logo" loading="lazy" width="100%" height="100%">
      </div>

      <p class="line">Let's find you the </p>
      <p class="lines">best product</p>

<div class=" mt-5 col-6 d-inline-flex"  *ngFor="let text of multipleText">
  <div class="card m-">
    <div class="card-body" [ngStyle]="{ 'border-color': text.color }" >
      <img [src]="text.img" class="card-img-top" alt="..." style="width: 30px;">
      <h5
        class="card-title" 
      >
        {{ text.headone }}
    </h5>
      <p
        class="card-text" 
      >
        {{ text.textone }}
  </p>
   
 
    </div>
  </div>
</div>
  </div>
</div>  -->



<div>
  <app-looking></app-looking>
</div>
<div>
  <app-needs></app-needs>
</div>
<div>
  <app-products></app-products>
</div>
