<!-- Footer -->
<footer class="text-left text-lg-start bg-light text-muted mt-5 footer">
    <!-- Section: Social media -->
    <section
      class="d-flex  justify-content-lg-between pt-3 border-bottom"
    >
      <!-- Left -->
      <div class="   paras" >
        <p><b>Important Links:</b> Resume Application | Track Application</p>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a  class=" text-reset">
         <img src="../assets/google.jpg">
        </a>
        <a  class="me-4 text-reset">
            <img src="../assets/app.jpg">
        </a>
        <a  class="me-4 px-3 text-reset">
            <img src="../assets/facebook.jpg">
        </a>
        <a  class="me-4 px-3 text-reset">
            <img src="../assets/twitter.jpg">
        </a>
        
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-left text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <p>Popular Products</p>
            <p>Agriculture</p>
            <p>Corporate Credit</p>
            <p>Insurance</p>
            <p>Goverment Business Products</p>
            <p>MSME</p>
            <p>Account Creation</p>
            <p>Redail</p>
            <p>Third Party Products-Fund</p>
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            
            <p>
              <a  class="text-reset">Calculators</a>
            </p>
            <p>
              <a  class="text-reset">Personal Loan EMI Calculator</a>
            </p>
            <p>
              <a  class="text-reset">Eligibility Calculator</a>
            </p>
            <p>
              <a  class="text-reset">Agri Gold Loan Calculator</a>
            </p>
            <p>
                <a  class="text-reset">More Calculator</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <!-- Links -->
        
            <p>
              <a  class="text-reset">Locate us</a>
            </p>
            <p>
              <a  class="text-reset">Search Branch or ATM</a>
            </p>
            <p>
              <a  class="text-reset">Search Branch or ATM</a>
            </p>
            <p>
              <a  class="text-reset">Find Branch or ATM</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <p>Contact us</p>
            <p> Call:1800 103 1906 for grneral Enquires</p>
            <p> Call:1800 220 229 for covid support
            </p>
            <p>Call:(022)-40991891(Chargeble Number) for 24/7</p>
           
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <p class="para">Side bost viewed at 1366/768 resolution in chrome 55+,IE 10+,Firebox 47+,Android 10+ & latest version </p>
    <hr>
    <p class=" para"> © 2021 Bank of India.All right resorved| Declaimer | Privacy Policy.</p>
            
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
