<div>
    <h5 class="pt-4 px-3 head">{{firsthead}}</h5>
    <ul>
        <li><p class="pt-3">{{paraone}}</p></li>
        <li><p>{{paratwo}}</p></li>
        <li><p>{{parathree}}</p></li>
        <li><p>{{parafour}}</p></li>
        <li><p>{{parafive}}</p></li>
    </ul>
    <h5 class="pt-4 px-3 head">{{secondhead}}</h5>
    <ul>
        
        <li><p class="pt-3">{{parasix}}</p></li>
    </ul>
    <h5 class="pt-4 px-3 head">{{thirdhead}}</h5>
    <ul>
        
        <p class="pt-3">{{paraseven}}</p>
        <li><p class="pt-3">{{paraeight}}</p></li>
    </ul>
</div>
