.picture img{

left: 0px;
width: 550px;
opacity: 1;
}
.heads{
    width: 575px;
    height: 90px;
color: var(--unnamed-color-2a2a2a);
font: normal normal normal 16px/24px Proxima Nova;
letter-spacing: 0px;
color: #2A2A2A;
opacity: 1;
}
/* .box{
    width: 45px;
    
} */
.emi{
    text-decoration: underline;
}
.texts{
    font: normal normal normal 14px/17px Proxima Nova;
letter-spacing: 0px;
color: #2A2A2A;
opacity: 0.6;
}
.home{
    text-decoration: underline;
font: normal normal normal 14px/24px Proxima Nova;
letter-spacing: 0px;
opacity: 1;
}