.heades{
    font: normal normal medium 24px/29px Proxima Nova;
letter-spacing: 0px;
color: #2A2A2A;
opacity: 1;
}

.params{
    
    font: normal normal normal 16px/56px Proxima Nova;
letter-spacing: 0.32px;
color: #000000;
opacity: 1;

}
.parathree{
    color: var(--boi-blue);

font: normal normal 600 16px/56px Proxima Nova;
letter-spacing: 0.32px;
color: #007DC5;
opacity: 1;
}
.parafour{
   
font: normal normal normal 14px/22px Proxima Nova;
letter-spacing: 0.28px;
color: #565656;
opacity: 1;
}
.parafive{
    
    text-align: center;
font: normal normal 600 16px/21px Proxima Nova;
letter-spacing: 0px;
color: #F58220;
opacity: 1;
}