<div class="boxs px-5" >
<div class="card mt-5 px-5 " style="width: 63rem;" style="height: 50%;">
    <div class="card-body">
        <div class="">
            <div  class="row">
                <div class="col-lg-7">
                    <div class="d-flex border-bottom  border-warning mt-5">
                        <button class="btn btn-warning  text-light nav-btn-cus home" ><img  src="../assets/cell.jpg">Mobile Banking</button>
                        <p class="pt-3 px-1 "><img class="px-1" src="../assets/online.jpg">Online Banking</p>
                        <p class="pt-3  px-1"><img class="px-1" src="../assets/card.jpg">Branch and ATM</p>
                        
                        </div>
                    <h1 class="card-title pt-4">{{tittle}}</h1>
                    <p class="card-title para pt-4">{{para}}</p>
                    <h4 class="card-text pt-5">{{sub}}</h4>
                    <hr>
                    <div>
                        <a href="" class=" text-reset">
                         <img src="../assets/google.jpg">
                        </a>
                        <a href="" class="me-4 text-reset">
                            <img src="../assets/app.jpg">
                        </a></div>
                </div>
                <div class="col-lg-3 px-5">
               <img src="../assets/phone.png">
                </div>
            </div>
        </div>
    </div>
      
    </div>
  </div>