 <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">Navbar</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
       aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
       <div class=" ">
         <ul class="navbar-nav mr-auto">
           <div>
             <li class="nav-item active ">
               <a class="nav-link d-flex " routerLink="/personal"><span
                   class="text-warning person px-0">Personal</span><img class="mt-2 space" src="../assets/down.jpg "
                   width="10px" height="10px"></a>

             </li>
           </div>
           <li class="nav-item active ">
             <a class="nav-link" routerLink="/business">Business</a>
           </li>
           <li class="nav-item active ">
             <a class="nav-link" routerLink="/nri">NRI</a>
           </li>
           <li class="nav-item active ">
             <a class="nav-link" routerLink="/rural">Rural</a>
           </li>
         </ul>

       </div>
<br>
       <div class="btn-primary">
         <ul class="navbar-nav mx-auto px-3">
           <img class="pictures " src="../assets/mon.jpg">
           <li class="nav-item active">
             <a class="nav-link " routerLink="/loans" [ngStyle]="{ 'color': 'white' }">Loans</a>
           </li>
           <img class="pictures px-1" src="../assets/monone.jpg">
           <li class="nav-item active">
             <a class="nav-link  " routerLink="/insurance" [ngStyle]="{ 'color': 'white' }">Insurance</a>
           </li>
           <img class="pictures" src="../assets/monthree.jpg">
           <li class="nav-item active">
             <a class="nav-link " routerLink="/accountopening" [ngStyle]="{ 'color': 'white' }">Account Opening</a>
           </li>
           <img class="pictures" src="../assets/montwo.jpg">
           <li class="nav-item active">
             <a class="nav-link " routerLink="/investment" [ngStyle]="{ 'color': 'white' }">Investment</a>
           </li>
         </ul>

        
        <div class="btn-primary">
          <ul class="navbar-nav mx-auto px-3">
            <img class="pictures " src="../assets/mon.jpg">
            <li class="nav-item active">
              <a class="nav-link " routerLink="/loans" [ngStyle]="{ 'color': 'white' }">Loans</a>
            </li>
            <img class="pictures px-1" src="../assets/monone.jpg">
            <li class="nav-item active">
              <a class="nav-link  " routerLink="/insurance" [ngStyle]="{ 'color': 'white' }">Insurance</a>
            </li>
            <img class="pictures" src="../assets/monthree.jpg">
            <li class="nav-item active">
              <a class="nav-link " routerLink="/accountopening" [ngStyle]="{ 'color': 'white' }">Account Opening</a>
            </li>
            <img class="pictures" src="../assets/montwo.jpg">
            <li class="nav-item active">
              <a class="nav-link " routerLink="/investment" [ngStyle]="{ 'color': 'white' }">Investment</a>
            </li>
          </ul>
        </div>

    </div>
    <div class="col-md-3">


      <button class="btn btn-warning  text-light nav-btn-cus" (click)="resume()"><img class=""
          src="../assets/resume.jpg">Resume Application</button>
  
      <img class="p-3" src="../assets/location.jpg">
      <img class="" src="../assets/notifi.jpg">
    </div></div>
   </div>
   
 </nav> -->


 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="icon col-md-3">
    <a class="navbar-brand" href="#"></a>
    <img src="../assets/logo.png" alt="logo" loading="lazy">
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container">
    <div>
      <div class="collapse navbar-collapse ml-lg-0 ml-3 col-md-6 " id="navbarSupportedContent">

        <div class=" ">
          <ul class="navbar-nav mr-auto">
            <div>
              <li class="nav-item active   ">
                <a class="nav-link d-flex " routerLink="/personal"><span
                    class="text-warning person border-bottom border-warning px-0">Personal</span><img class="mt-2 space " src="../assets/down.jpg "
                    width="10px" height="10px"></a>

              </li>
            </div>
            <li class="nav-item active ">
              <a class="nav-link" routerLink="/business">Business</a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" routerLink="/nri">NRI</a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" routerLink="/rural">Rural</a>
            </li>
          </ul>
        </div>
      </div>

      <div>
        <div class="btn-primary">
          <ul class="navbar-nav mx-auto px-3">
            <img class="pictures " src="../assets/mon.jpg">
            <li class="nav-item active">
              <a class="nav-link " routerLink="/loans" [ngStyle]="{ 'color': 'white' }">Loans</a>
            </li>
            <img class="pictures px-1" src="../assets/monone.jpg">
            <li class="nav-item active">
              <a class="nav-link  " routerLink="/insurance" [ngStyle]="{ 'color': 'white' }">Insurance</a>
            </li>
            <img class="pictures" src="../assets/monthree.jpg">
            <li class="nav-item active">
              <a class="nav-link " routerLink="/accountopening" [ngStyle]="{ 'color': 'white' }">Account Opening</a>
            </li>
            <img class="pictures" src="../assets/montwo.jpg">
            <li class="nav-item active">
              <a class="nav-link " routerLink="/investment" [ngStyle]="{ 'color': 'white' }">Investment</a>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>

  <div class="col-md-3">


    <button class="btn btn-warning  text-light nav-btn-cus" (click)="resume()"><img class=""
        src="../assets/resume.jpg">Resume Application</button>

    <img class="p-3" src="../assets/location.jpg">
    <img class="" src="../assets/notifi.jpg">
  </div>


</nav> 





 <div class="container">
   <router-outlet></router-outlet>
 </div>
 <div>
   <app-product></app-product>
 </div>
 <div>
   <app-offer></app-offer>
 </div>

 <div>
   <app-footer></app-footer>
 </div>



 <!-- 
    <div class="admin ">
 

      <div class="container-fluid">
        <div class="row">
         
           
            <ul class="nav"  >
              
              <a class="navbar-brand image " href="#">
                <img src="../assets/logo.png"  alt="logo" loading="lazy">
              </a>
          
              <li class=" col-1 personal " >
                <a class="active" routerLink="/personal">Personal</a>
              </li>
     
              <li class=" col-1 business" >
                <a class="active" routerLink="/business">Business</a>
              </li>
     
              <li class="  col-2 nri" >
                <a class="active" routerLink="/nri">NRI</a>
              </li>
     
              <li class="   col-2 rural">
                <a class="active" routerLink="/rural">Rural</a>
              </li>
         

            </ul>
     
        
        </div>

        
      </div>
     


              
      <div class="container">
        <router-outlet></router-outlet>
      </div>
     
    
     
     </div> -->
