<h5 class="mt-4">Personal Loan Fee and Charges</h5>

<table class="table border-bottom mt-4">
    <thead class="thead-light">
      <tr>
        <th scope="col">Fee and Charges</th>
        <th scope="col">Amount to be paid</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Interest Rate</td>
        <td>10.5% to 10%</td>
      </tr>
      <tr>
        <td>Processing Fee</td>
        <td>2% (Rs.1000-10000)+GST</td>
        
      </tr>
      <tr>
        <td>Valuation Fee</td>
        <td>2% (Rs.1000-10000)+GST</td>
        
      </tr>
      <tr>
        <td>Legal Fee</td>
        <td>2% (Rs.1000-10000)+GST</td>
        
      </tr>
     
    </tbody>
  </table>
 
