/* You can add global styles to this file, and also import other style files */
/* body{
    font-family: 'Poppins', sans-serif;
} */
/* body{
    font-family: 'Roboto Serif', sans-serif;
} */
body{
    font-family: 'Ibarra Real Nova', serif;
   
}